{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Create Student </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<header class="jumbotron" style="padding: 2%;">
	<h2 class="text-center"> Create New Student </h2>
</header>
<div class="container">
	<form method="POST" action="/create-student">
		{% csrf_token %}
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<label> Register Number </label>
				<input type="text" name="reg_no" id="id_reg_no" placeholder="Register Number" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
	</div>
		<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<label>  Student Name </label>
				<input type="text" name="name" id="id_name" placeholder="Student Name" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<label> Mobile </label>
				<input type="text" name="mobile" id="id_mobile" placeholder="Mobile" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" id="id_email" placeholder="Email" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<label> School  </label>
				<input type="text" name="school" id="id_school" placeholder="School" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Register </button>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
	</div>

	</form>

</div>
<!-- <form method="POST" action="/create-student">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit"> Submit </button>
</form> -->
</body>
</html>