{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Display Students </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<header class="jumbotron" style="padding: 2%;">
		<h2 class="text-center"> Display Student Details </h2>
	</header>
	<div class="container">
	<div class="pull-right">
		<a href="{% url 'create' %}" class="btn btn-success"> Create New Student </a>
	</div>		
	<br/>
	<br/>
	<br/>
<table class="table table-hover table-bordered" id="showdetails">
	<thead>
		<tr>
			<th>Register No</th>
			<th>Name </th>
			<th> Mobile </th>
			<th> Email </th>
			<th>School</th>
			<th> Action </th>
		</tr>
	</thead>
	<tbody>
		{% for s in students %}
		<tr>
			<td> {{ s.reg_no }} </td>
			<td> {{ s.name }} </td>
			<td> {{ s.mobile }} </td>
			<td> {{ s.email }} </td>
			<td> {{ s.school }} </td>
			<td> 
				<a href="edit/{{ s.id }}" class="btn btn-xs btn-warning"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
				<a href="delete/{{ s.id }}" class="btn btn-xs btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i> </a> 
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
	</div>

	<script type="text/javascript">
$(document).ready( function () {
    $('#showdetails').DataTable();
} );
	</script>
</body>
</html>