<!DOCTYPE html>
<html>
<head>
	<title> Update Student</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
</head>
<body>

<div class="container">
<br/>
<br/>
<br/>
<br/>
<form method="POST" action="/update/{{ student.id }}"> 
	{% csrf_token %}

	<div class="row">
		<div class="col-lg-4">
			<div class="form-group">
				<label> Register Number </label>
				<input type="text" name="reg_no" id="id_reg_no" placeholder="Register Number" required class="form-control" value="{{ student.reg_no}}">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="form-group">
				<label> Student Name </label>
				<input type="text" name="name" id="id_name" value="{{ student.name}}" placeholder="Name" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="form-group">
				<label> Mobile </label>
				<input type="tel" name="mobile" value="{{ student.mobile}}" id="id_mobile" placeholder="Mobile" required class="form-control">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-4">
			<div class="form-group">
				<label> Email </label>
				<input type="email" name="email" value="{{ student.email}}" id="id_email" placeholder="Email" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="form-group">
				<label> School </label>
				<input type="text" name="school"  value="{{ student.school}}" id="id_school" placeholder="School" required class="form-control">
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>


	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<button type="submit" class="btn btn-success"> Update </button>
		</div>
		<div class="col-lg-4"></div>
	</div>

</form>


</div>

</body>
</html>